/* 입력 영역 */
.input_group {
  display: flex;
  width: 100%;
  gap: 12px;
}

.input_group input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;

  background: var(--bg-input, #333840);
  border: 1.5px solid var(--border-default, #474d54);

  color: var(--text-secondary, #99a1ab);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.add_btn {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: var(--accent-primary, #4078f5);
  border: none;

  color: var(--text-on-accent, #fff);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
