/* 입력 영역 */
.input_group {
  display: flex;
  width: 100%;
  gap: 12px;
  position: relative;
}

.input_group input {
  display: flex;
  padding: 14px 16px;
  align-items: center;
  flex: 1 0 0;

  border-radius: 12px;
  border: 1.5px solid var(--border-default, #dee3e8);
  background: var(--bg-input, #f2f5f7);

  color: var(--text-secondary, #99a1ab);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.input_group .error {
  border: 2px solid var(--status-danger, #e84d3d);
  ::placeholder {
    color: var(--status-danger, #e84d3d);
    opacity: 1;
  }
}

.input_group .error::placeholder {
  color: var(--status-danger, #e84d3d);
}

.add_btn {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: var(--accent-primary, #4078f5);
  border: none;

  color: var(--text-on-accent, #fff);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  opacity: 0.8;
}

.add_btn:active {
  transform: scale(0.85);
  opacity: 1;
}
