/* 리스트 */
.todo-list {
  list-style: none;
  width: 100%;
}

.todo-list li {
  display: flex;
  align-items: center;
  background: var(--bg-input, #f2f5f7);
  padding: 12px;
  border-radius: 12px;
  margin: 5px 0px;

  color: var(--text-primary, #1a1c21);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.todo-list input {
  margin-right: 10px;
}

.todo-list span {
  flex: 1;
}
