/* 리스트 */
.todo-list {
  list-style: none;
  width: 100%;
}

.empty-set {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.empty-set .main-text {
  color: var(--text-primary, #1a1c21);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.empty-set .sub-text {
  color: var(--text-secondary, #666e78);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.todo-list li {
  display: flex;
  align-items: center;
  background: var(--bg-input, #f2f5f7);
  padding: 12px;
  border-radius: 12px;
  margin: 5px 0px;

  color: var(--text-primary, #1a1c21);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
}

.todo-list input {
  margin-right: 10px;
}

.todo-list span {
  flex: 1;
}
