/* 리스트 */
.todo-list {
  list-style: none;
}

.todo-list li {
  display: flex;
  align-items: center;
  background: #f9fafb;
  padding: 12px;
  border-radius: 12px;
  margin: 5px 0px;
}

.todo-list input {
  margin-right: 10px;
}

.todo-list span {
  flex: 1;
}
