* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

:root {
  --text-primary: #1a1c21;
  --accent-primary: #4078f5;
  --text-on-accent: #fff;
}

body {
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* 카드 */
.container {
  padding: 10px 5px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  background: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
}

/* 필터 */
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filters button {
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  background: #eee;
  cursor: pointer;
}

.filters .active {
  background: #4a6cf7;
  color: white;
}

/* 완료 상태 */
.completed span {
  text-decoration: line-through;
  color: #aaa;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.clear {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

div .divider {
  height: 1px;
  align-self: stretch;

  background: #dee3e8;
}
